<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Activation de compte</title>
</head>
<body>
<p>Bonjour,</p>
<p>Merci de vous être inscrit. Cliquez sur le lien ci-dessous pour activer votre compte :</p>
<a style="background-color: blue; border: none; color: white; padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;" href="${activationLink}">Activer mon compte</a>
</body>
</html>
